<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- GOODREADS DEV KEY  -->
        <!-- FAKE DATA: Replace with your own! -->
        <add key="API_KEY_GOODREADS" value="0000000000000000000000"/>
        <add key="API_SECRET_GOODREADS" value="000000000000000000000000000000000000000000"/>
    </appSettings>
</configuration>