<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target xsi:type="ColoredConsole"
            name="CConsole"
            layout="${date} | ${level:uppercase=true} | ${callsite} | ${message}"
            useDefaultRowHighlightingRules="false" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="Black" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="CConsole" />
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>